<footer class="footer">
    <div class="container">
        <div class="row">

            <table>
                <tr>
                    <td>
                        <div class="span4">
                            <div class="widget">
                                <h5>How to find us</h5>
                                <address>
                                    <i class="icon-home"></i> <strong>Kairos company, Inc.</strong><br>
                                    Abai st. 22<br>
                                    Bishkek 720000 Kyrgyzstan
                                </address>
                    </td>
                    <td>
                        <p>
                            <i class="icon-phone"></i> +996 707 62 89 60<br>
                            <i class="icon-envelope-alt"></i> kturdaxunov@gmail.com
                        </p>
        </div>
        <div class="widget">
            <ul class="social">
                <li><a href="#" data-placement="bottom" title="Twitter"><i
                        class="icon-twitter icon-square icon-32"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Facebook"><i
                        class="icon-facebook icon-square icon-32"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i
                        class="icon-linkedin icon-square icon-32"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Whatsapp"><i
                        class="icon-phone-sign icon-square icon-32"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google plus"><i
                        class="icon-google-plus icon-square icon-32"></i></a></li>
            </ul>
        </div>
        </td>

        </tr>
        </table>
    </div>
    </div>
    </div>
</footer>